<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>
        <script src="sweetalert2/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .fakeimg {
      height: 200px;
      background: #aaa;
    }
    
    body {
     background-image: url("https://i.imgur.com/tdolZE1.png");
     background-color: #cccccc;
    }
    </style>
    
    
        <title>Add new player</title>
    </head>

<body>

    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Al-Mamlaka</h1>
      <p>Saudi women football team</p> 
    </div>
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Almamlaka</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="/players">Players </a></li>
            <li><a href="/games">Games</a></li>
            <li ><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
            <h3 class="text-center">Edit Player</h3>
            <p class="text-center"><em></em></p>
            

  <form class="edit-player" action="/players/{{player.id}}?_method=PUT" method="POST" >
    <label for="fname">
      First Name: <input type="text" name="fname" id="fname" value="{{fname}}"/>
    </label>
    <label for="lname">
    Last Name: <input type="text" name="lname" id="lname" value="{{lname}}"/>
    </label>
    <label for="position">
      Position: <input type="text" name='position' id='position' value="{{position}}">
    </label>
    <button type="submit">Submit Update</button>
  </form>
</body>
</html>