<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>player: {{fname}}{{lname}}</title>
</head>

<body>
  <div class="show-player">
    <h1>{{fname}}</h1>
    <div class="links">
      <a href="/">Go Home</a>
      <a href="/players">All Players</a>
    </div>
    <div class="players-traits">
      <p>name: {{ players.fname}}</p>
      <p>position: {{ players.position}}</p>
    </div>

    <form action="/players/{{players.id}}?_method=DELETE" method="POST">
      <button type="submit">Delete Player</button>
    </form>

    <button type="submit" href="/players/edit">Edit player</button>
  </div>

</body>

</html>