<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{player.fname}}{{player.lname}}'s Details</title>
</head>

<body>
  <div class="show-player">
    <h1>{{fname}}</h1>
    <div class="links">
      <a href="/">Go Home</a>
      <a href="/players">All Players</a>
    </div>
    <div class="players-traits">
      <p>Name: {{player.fname}} {{player.lname}}</p>
      <p>position: {{player.position}}</p>
    </div>

    <form action="/players/{{player.id}}?_method=DELETE" method="POST">
      <button type="submit">Delete Player</button>
    </form>
    <form action="/players/{{player.id}}/edit" method="GET">
      <button type="submit">Edit</button>
    </form>
   
  </div>

</body>

</html>