<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{game.date}}-{{game.location}}</title>
</head>

<body>

  <div class="show-game">
    <div class="links">
      <a href="/">Go Home</a>
      <a href="/games">All games</a>
    </div>
    <img src="{{img}}" alt="{{location}}">
    <div class="players-traits">
      <p>Date: {{game.date}}</p>
      <p>Location: {{game.location}}</p>
    </div>
    <div class="players-games"> 
      <p> players in this game:</p> 

            {{#players}}
            <a href="/players/{{id}}">
                <h2>{{fname}} {{lname}} </h2>
              </a>  
            {{/players}} 
    

    
    </div>
</body>

</html>